@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>¡Bienvenido al sistema admin de TT Electronics!</strong></h1>
    <p>Elija una opción en el menu superior.</p>
</div>
